@model Eventful_Bite_App.Models.EventDto
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Event</h2>

<form action="/Event/Update/@Model.EventId" method="post">
    <div style="display:none;">
        @* Pass through the Event ID *@
        <input type="text" name="EventId" value="@Model.EventId" />
    </div>
    <div>
        <label>Event Name:</label>
        <input type="text" name="EventName" value="@Model.EventName" />
    </div>
    <div>
        <label>Event Description:</label>
        <input type="text" name="EventDescription" value="@Model.EventDescription" />
    </div>
    <div>
        <label>Event Date:</label>
        <input type="date" name="EventDate" value="@Model.EventDate.ToString("yyyy-MM-dd")" />
    </div>
    <div>
        <label>Event Time:</label>
        <input type="time" name="EventTime" value="@Model.EventDate.ToString("HH:mm")" />
    </div>
    <div>
        <label>Event Price:</label>
        <input type="number" name="EventPrice" value="@Model.EventPrice" step="0.1" />
    </div>
    <div>
        <label>Event Address: </label>
        <input type="text" name="EventAddress" value="@Model.EventAddress" />
    </div>
    <div>
        <label for="DistrictId">District Id: </label>
        <select id="DistrictId" name="DistrictId">
            <option value="@Model.DistrictId"></option>
            <option value="1">Markham</option>
            <option value="2">North York</option>
            <option value="3">Scarborough</option>
            <option value="4">Mississauga</option>
            <option value="5">Brampton</option>
            <option value="6">Vaughan</option>
            <option value="7">Richmond Hill</option>
            <option value="8">Toronto</option>
        </select>
    </div>
    <div>
        <input type="submit" value="Update Event" />
    </div>
</form>