﻿@model Eventful_Bite_App.Models.DetailsDistrict
@{
    ViewBag.Title = "Details";
}

<div class="wrap-width">
    <h1>Restaurant and Events in @Model.SelectedDistrict.DistrictName District</h1>
    <form action="/Journal/Create" method="post">
        <div class="event" style="margin-bottom:2rem;">
            <h6>2. Select Event</h6>
            @if (Model.KeptEvents != null && Model.KeptEvents.Any())
            {
                <select name="EventName" class="form-select">
                    @foreach (var Event in Model.KeptEvents)
                    {
                        <option value="@Event.EventName">@Event.EventName</option>
                    }
                </select>
            }
            else
            {
                <p>No events available for this district.</p>
            }
        </div>

        <div class="restaurant" style="margin-bottom:2rem;">
            <h6>3. Select Restaurant</h6>
            @if (Model.Branches != null && Model.Branches.Any())
            {
                <select name="RestaurantName" class="form-select">
                    @foreach (var branch in Model.Branches)
                    {
                        <option value="@branch.RestaurantName">@branch.RestaurantName</option>
                    }
                </select>
            }
            else
            {
                <p>No restaurants available for this district.</p>
            }
        </div>

        <div class="experience" style="margin-bottom:2rem;">
            <h6>4. Record your experience</h6>
            <input type="text" name="JournalTitle" placeholder="Title" class="form-control" />
            <textarea name="JournalDescription" placeholder="Description" class="form-text"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Add Journal Entry</button>
        <a href="/EventJournal/District" class="btn btn-outline-secondary">Go back to list</a>
    </form>
    
    </div>

    <style>
        .experience {
            display: flex;
            flex-direction: column;
        }
    </style>
