@model Eventful_Bite_App.Models.DetailsDistrict
@{
    ViewBag.Title = "Details";
}

<!--Requires adjustment to make sure this works as well with Create/Add-->

<form action="/" method="post">

    <h2>Restaurant and Events in @Model.SelectedDistrict.DistrictName District</h2>

    <div class="event">
        <h3>2. Select Event</h3>
        @if (Model.KeptEvents != null && Model.KeptEvents.Any())
        {
            <select>
                @foreach (var Event in Model.KeptEvents)
                {
                    <option value="@Event.EventId">@Event.EventName</option>
                }
            </select>
        }
        else
        {
            <p>No events available for this district.</p>
        }
    </div>



    <div class="restaurant">
        <h3>3. Select Restaurant</h3>
        @if (Model.Branches != null && Model.Branches.Any())
        {
            <select>
                @foreach (var branch in Model.Branches)
                {
                    <option value="@branch.BranchId">@branch.RestaurantName</option>
                }
            </select>
        }
        else
        {
            <p>No restaurants available for this district.</p>
        }
    </div>

    <div class="experience">
        <h3>4. Record your experience</h3>
        <textarea></textarea>
    </div>



    <button type="submit" class="btn btn-primary">Add Journal Entry</button>

</form>

<div>
    <a href="/EventJournal/District" class="goback">Go back to list</a>
</div>